* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Bold-webfont.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Fira Mono', monospace;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
}

nav {
  height: 60px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

br {
  height: 1000px;
}

.container{
  padding-top: 80px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  border: solid blue 1px;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: purple solid 1px;
}

.presentation > div {
  border: pink 1px solid;
  flex-wrap: wrap;
}

.box-profile-image {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, #D1D1D1);
}

.profile-image {
  width: 100%;
  min-width: 200px;
}

.text-intro {

}

.actions {
  border: pink solid 1px;
}

.social {
  border: blue solid 1px;
  display: flex;
  justify-content: space-around;
}

.headline {
  border: pink solid 1px;
  margin: 20px;
  padding: 20px;
}

.social-logo {
  height: 30px;
}

.logos {
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
}

.software {
  height: 100px;
}

.bio {
  max-width: 600px;
  margin-top: 50px;
border: red solid 1px;
}

.skills {
  max-width: 600px;
  margin-top: 50px;
border: red solid 1px;
}

.cta {
  max-width: 600px;
  margin: 50px 0;
border: red solid 1px;
}

.button {
  display: block;
  color: #FFF;
background-color: #0d6f78;    /* Petrolio #035158 */
font-weight: bold;
padding: 20px;
text-align: center;
border: 2px solid #5D6063;    /* Dark gray */
border-radius: 30px;
width: 150px;
margin: 20px auto;
text-decoration: none;
font-family: 'Roboto', sans-serif;
}

.button:hover {
  background-color: #035158;
}

footer {
  background-color: #F2F2F2;    /* Grigio molto chiaro */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
  }

  nav {
    height: 40px;
  }

  .my-logo {
    height: 30px;
  }

.container {
    padding-top: 30px;
}

  .box-profile-image {
    width: 100%;
}

.profile-image {
  width: 200px;
}


}

@media only screen and (min-width: 500px) and (max-width: 800px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
    border: solid red 1px;
  }

  nav {
    height: 40px;
  }

  .my-logo {
    height: 30px;
  }

.container {
    padding-top: 30px;
}

  .box-profile-image {
    width: 100%;
    max-width: 600px;
}

.profile-image {
  width: 200px;
}

.presentation {
  justify-content: center;
}

}

/* Tablet Styles */
@media only screen and (min-width: 800px) and (max-width: 960px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
  }

  nav {
    height: 40px;
}

.my-logo {
  height: 30px;
}

.container {
    padding-top: 30px;
}

.headline {
  padding: 100px 0;
}

.box-profile-image {
    max-width: 400px;
}

.profile-image {
  width: 500px;
}

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

nav {
  width: 90%;
}

.my-logo {
    height: 50px;
  }

.container {
  flex-direction: column;
}

.box-profile-image {
    max-width: 400px;
}

.profile-image {
  width: 500px;
}

.headline {
  padding: 100px 0;
}

.presentation {
  width: 100%
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

}
