* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Bold-webfont.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
}

.navigation {
  height: 60px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.page{
  padding-top: 80px;
  border: green solid 1px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: solid blue 1px;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 900px;
  border: pink solid 1px;
}

.presentation > div {
  border: red 1px solid;
  flex-wrap: wrap;
}

.box-profile-image {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, grey);
}

.profile-image {
  width: 100%;
  min-width: 200px;
}

.actions {
  border: red solid 1px;
}

.social {
  border: blue solid 1px;
  display: flex;
  justify-content: space-around;
}

.headline {
  border: pink solid 1px;
  margin: auto;
  padding: 20px;
}

.social-logo {
  height: 50px;
}

.logos {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.software {
  height: 100px;
}

.bio {
  max-width: 600px;
border: green solid 1px;
}

.skills {
  max-width: 600px;
border: green solid 1px;
}

.cta {
  max-width: 600px;
border: green solid 1px;
}

.button {
  display: block;
  color: #FFF;
background-color: #035158;    /* Petrolio */
font-weight: bold;
padding: 20px;
text-align: center;
border: 2px solid #5D6063;    /* Dark gray */
border-radius: 30px;
width: 200px;
margin: 20px auto;
}

footer {
  background-color: grey;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
  }

  .navigation {
    height: 40px;
  }

  .my-logo {
    height: 30px;
  }

.page {
    padding-top: 30px;
}

  .box-profile-image {
    width: 100%;
    max-width: 600px;
}

.profile-image {
  width: 200px;
}


}

@media only screen and (min-width: 500px) and (max-width: 800px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
    border: solid red 1px;
  }

  .navigation {
    height: 40px;
  }

  .my-logo {
    height: 30px;
  }

.page {
    padding-top: 30px;
}

  .box-profile-image {
    width: 100%;
    max-width: 600px;
}

.profile-image {
  width: 200px;
}


}

/* Tablet Styles */
@media only screen and (min-width: 800px) and (max-width: 960px) {

  header {
    position: fixed;
    bottom: 0;
    height: 50px;
  }

  .navigation {
    height: 40px;
}

.my-logo {
  height: 30px;
}

.page {
    padding-top: 30px;
}

.box-profile-image {
    max-width: 400px;
}

.profile-image {
  width: 500px;
}

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

.navigation {
  width: 90%;
}

.my-logo {
    height: 50px;
  }

.page {
  flex-direction: column;
}

.box-profile-image {
    max-width: 400px;
}

.profile-image {
  width: 500px;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
}

}
